@model IEnumerable<ProjectE.DAO.Objects>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table>
    <tr>
        <th>
            Количество
        </th>
        <th>
            Поставщик
        </th>
        <th>
           Тип
        </th>
        <th>
            Oперация
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dealer)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.TypeObject.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOperation.Name)
        </td>
        <td>
            @Html.ActionLink("Закрыть путевой лист", "Create", new {id = item.Id});
        </td>
    </tr>
}

</table>
